<% comments.each do |comment| %>

  <% unless comment.id.nil? %>
  <div id="comment_<%= comment.id %>" >
    <p>コメント：<%= comment.comment %></p>
  </div>

    <p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %></p>
    <% if comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
      <p><%= link_to 'コメントを編集する', edit_post_comment_path(comment.post_id, comment.id), remote: true %></p>

    <% end %>
  <% end %>
<% end %>