<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center pt-5 pb-3">ペット編集</h2>
    </div>
  </div>

 <div class="row">
  <div class="col-md-12 pt-3">
<%= form_with model: @pet, local: true do |f| %>

  <div class="row">
    <div class="col-md-5">
      <p class="text-right mr-4"><label for="Name" class="form-label">名前</label></p>
    </div>
  <div class="col-md-4">
      <p class="text-center"><%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <p class="text-right mr-4"><label for="ProfileImage" class="form-label">プロフィール画像</label></p>
    </div>
  <div class="col-md-4">
      <p class="text-center"><%= f.file_field :profile_image, autofocus: true, autocomplete: "prifile-image" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <p class="text-right mr-4"><label for="Sex" class="form-label">性別</label></p>
    </div>
   <div class="col-md-4">
      <p class="text-center">
        <span class="mr-5">
          <%= f.label :man %>
          <%= f.radio_button :sex, :man %>
        </span>
        <%= f.label :woman %>
        <%= f.radio_button :sex, :woman %>
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <p class="text-right mr-4"><label for="Age" class="form-label">年齢</label></p>
    </div>
  <div class="col-md-4">
      <p class="text-center"><%= f.text_field :age, autofocus: true, class: 'form-control' %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <p class="text-right mr-4"><label for="Type" class="form-label">種類</label></p>
    </div>
  <div class="col-md-4">
      <p class="text-center"><%= f.text_field :type, autofocus: true, class: 'form-control' %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
    </div>
    <div class="col-4">
      <p class="text-right"><%= f.submit "変更する", class: 'btn btn-primary' %></p>
    </div>
  </div>

<% end %>
   </div>
  </div>
</div>