<div class="containeer">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center pt-5 pb-3">プロフィール編集</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 pt-3">
    <%= form_with model: @user, local: true do |f| %>

  <div class="row">
    <div class="col-md-5">
      <p class="text-right mr-4"><label for="inputName" class="form-label">お名前</label></p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><%= f.text_field :name, autofocus: true, class: 'form-control' %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <p class="text-right mr-4"><label for="inputImage" class="form-label">プロフィール画像</label></p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><%= f.file_field :profile_image, autofocus: true %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <p class="text-right mr-4"><label for="inputIntroduction" class="form-label">自己紹介文</label></p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><%= f.text_area :introduction, autofocus: true, class: 'form-control' %></p>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "変更を保存", class: 'btn btn-primary ml-auto d-block mr-5' %>
      <% end %>
    </div>
    </div>
  </div>
</div>