<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h1 class="text-center mb-5 heading"><i class="fas fa-dog fa-2x mr-2" style="color: olive;"></i>投稿一覧<i class="fas fa-cat fa-2x ml-2" style="color: tan;"></i></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-5 mb-4">
      <h4 class="text-center"><span class="tag-title">タグリスト</span></h4>
    </div>
    <div class="col-7">
      <% @tag_list.each do |list| %>
        <%= link_to tag_posts_path(tag_id: list.id) do %>
          <span class="tag-design"><%= list.tag_name %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-list-container py-5">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-md-4">
      <div class="card mx-auto mt-4 shadow-lg mycard">

        <% if post.image_id.present? %>
          <div class="box">
            <div class="box-img">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image_id.url, style: 'width: 100%; height: 240px; object-fit: cover;', class: 'card-imag-top aline-item-center'; %>
              <% end %>
              <div id="likes_btn_<%= post.id %>">
                <%= render 'likes/like', post: post %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="box">
            <%= link_to post_path(post.id) do %>
              <%= video_tag(post.video_id.to_s, controls: true, style: 'width: 100%; height: 240px; object-fit: cover;') %>
            <% end %>
            <div id="likes_btn_<%= post.id %>">
              <%= render 'likes/like', post: post %>
            </div>
          </div>
        <% end %>


    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <%= link_to user_path(post.user_id) do %>
            <p><%= image_tag post.user.profile_image.url, :size => '50x50', class: "mt-3 rounded-circle"; %></p>
          <% end %>
          <p><i class="fas fa-user"></i><%= post.user.name %></p>
        </div>

        <div class="col-9">
        <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
        <h4 class="card-title"><%= post.title %></h4>
        <p class="card-text"><%= post.introduction %></p>
        <% post.tags.each do |tag| %>
          <%= link_to tag_posts_path(tag_id: tag.id) do %>
            <span class="tag-design mb-2"><%= tag.tag_name %></span>
          <% end %>
        <% end %>
        <%# post.tags.each do |tag| %>
          <%#= tag.tag_name %>
        <%# end %>
        <p><%= link_to "#{post.comments.count}コメント", post_path(post.id) %></p>
        </div>
      </div>

    </div>
  </div>
  </div>
<% end %>
</div>
<%= paginate @posts %>
</div>
