<h2>投稿一覧</h2>

<% @tag_list.each do |list| %>
  <%= link_to tag_posts_path(tag_id: list.id) do %>
    <%= list.tag_name %>
  <% end %>
<% end %>

<p>タグが<%= "#{@tag.tag_name}" %>の投稿一覧</p>

<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <% if post.image_id.present? %>
      <%= image_tag post.image_id.url, :size => '320x240' %>
    <% else %>
      <%= video_tag(post.video_id.to_s, :controls => true, :size => '320x240') %>
    <% end %>
  <% end %>

  <p><%= post.created_at %></p>
  <p><%= post.title %></p>
  <p><%= post.introduction %></p>

<% end %>