<div>
  <% if @post.image_id.present? %>
    <%= image_tag @post.image_id.url, :size => '320x240' %>
  <% else %>
    <%= video_tag(@post.video_id.to_s, :controls => true, :size => '320x240') %>
  <% end %>

  <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <p><%= @post.user.name %></p>
  <p><%= @post.title %></p>
  <p><%= @post.introduction %></p>
  <p><%= sanitize(@post.tags.pluck(:tag_name).join(' ')) %>

  <%# @post.tag_maps.each do |tag_map| %>
    <%#= tag_map.tag.tag_name %>
  <%# end %>

  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
    <%= link_to "編集", edit_post_path(@post) %>
  <% end %>

  <div>
    <p>コメント件数：<%= @post.comments.count %></p>
      <% @post.comments.each do |comment| %>
        <p><%= image_tag comment.user.profile_image.url, :size => '50x50' %></p>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% if comment.user == current_user %>
          <div>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
          </div>
        <% end %>
      <% end %>
  </div>

  <div>
    <%= form_with(model:[@post, @comment], local: true) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

  <% if @post.favorited_by?(current_user) %>

    <p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね
      <% end %>
    </p>
  <% end %>

</div>