<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h1 class="text-center mb-5">ランキング一覧</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="text-right mr-5">
        <h4 class="">いろんなランキングを作ることができます→→→</h4>
      </div>
    </div>
    <div class="col-4">
      <%= link_to "投票作成する", new_vote_path, class: 'btn btn-success mb-3' %>
    </div>
  </div>




    <% @votes.each do |vote| %>
      <div class="card border-dark mb-3 ml-5" style="max-width: 50rem;">
        <%= link_to vote_path(vote), class: 'card-body text-dark' do %>
        <div class="row">
          <div class="col-md-12">
            <p><%= vote.created_at.strftime('%Y/%m/%d') %></p>
            <h5 class="card-title"><%= vote.title %></h5>
            <p class="card-text"><%= vote.content %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

 <% paginate @votes %>
</div>
