<div class="containeer">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center pt-5 pb-3">投票新規作成</h2>
    </div>
  </div>

  <% if @vote.errors.any? %>
    <%= @vote.errors.count %>件のエラーが発生しました
    <% @vote.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-12 pt-3">
  <%= form_with model: @vote, url: votes_path, local: true do |f| %>
    <div class="row">
      <div class="col-md-5">
        <p class="text-right mr-4"><label for="Title" class="form-label">タイトル</label></p>
      </div>
      <div class="col-md-4">
        <p class="text-left"><%= f.text_field :title, class: 'form-control' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <p class="text-right mr-4"><label for="Content" class="form-label">投票内容</label></p>
      </div>
      <div class="col-md-4">
        <p class="text-left"><%= f.text_area :content, class: 'form-control' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <p class="text-right mr-4"><label for="Item" class="form-label">選択肢</label></p>
      </div>
      <div class="col-md-4">
        <p>※項目は必ず２個以上入れてください。</p>
        <%= button_tag '追加', type: 'button', id: 'add_item' %>
        <%= button_tag '削除', type: 'button', id: 'delete_item' %>

        <div id="items">
          <%= text_field_tag "vote[items][]" %><br></div>
          <script>
            $('#add_item').click(function() {
              $('#items').append("<%= j(render partial: 'item') %>");
            });

            $('#delete_item').click(function() {
              $('#items').remove("<%= j(render partial: 'item') %>");
            });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
        </div>
        <div class="col-4">
          <p class="text-right mt-3"><%= f.submit "作成する", class: 'btn btn-primary create-vote' %></p>
        </div>
      </div>

  <% end %>
    </div>
  </div>
</div>