<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h1 class="text-center mb-5"><%= @vote.title %></h1>
    </div>
  </div>

  <ul>
    <% @vote.vote_items.each do |vi| %>
      <li>
        <%= link_to vote_vote_path(vote_id: @vote, vote_item_id: vi.id), method: :post do %>
          <%= "#{vi.item} ( #{vi.vote_answers.count} )" %>
        <% end %>
      </li>
    <% end %>

    <%= pie_chart @vote_answers.group(:id).count %>
  </ul>
  <%= link_to "戻る", votes_path %>
  <% if @vote.user_id == current_user.id %>
    <%= link_to "削除", vote_path(@vote), method: :delete, class: 'btn btn-danger' %>
  <% end %>

</div>