<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h1 class="text-center mb-5 heading vote-title"><%= @vote.title %></h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
    <h4 class="pb-3">こちらの項目から投票してください↓</h4>
    <p class="vote-warning">※投票はおひとり様一回のみです。</p>
    <ul>
      <% @vote.vote_items.each do |vi| %>
        <li>
          <%= link_to vote_vote_path(vote_id: @vote, vote_item_id: vi.id), method: :post do %>
            <p><%= vi.item %></p>
          <% end %>
          <p><span class="count mr-2"><%= vi.vote_answers.count %></span>票入っています！</p>
        </li>
      <% end %>
    </div>
    </ul>

    <div class="col-md-9">
      <%= pie_chart @vote_answers %>
    </div>
  </div>

  <%= link_to "戻る", votes_path, class: 'btn btn-success' %>
  <% if @vote.user_id == current_user.id %>
    <%= link_to "削除", vote_path(@vote), method: :delete, class: 'btn btn-danger' %>
  <% end %>

</div>