<!DOCTYPE html>
<html>
  <head>
    <title>AnimalBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/45eb2ca992.js" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top:5rem">
    <div class="container">
      <nav class="navbar navbar-expand navbar-dark bg-info fixed-top">
      <a href="#" class="navbar-brand">あにまるぼっくす</a>
      <ul class="navbar-nav">
      <% if user_signed_in? %>

      <li class="nav-link">
        <%= link_to "すべての投稿", posts_path %>
      </li>
      <li class="nav-link">
        <%= link_to "ランキング一覧", votes_path %>
      </li>
      <li class="nav-link">
        <%= link_to "マイページ", user_path(current_user.id) %>
      </li>
      <li class="nav-link">
        <%= link_to "新規投稿", new_post_path %>
      </li>

      <li class="nav-link">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <form class="form-inline ml-auto">
        <%= search_form_for @search, url: posts_path do |f| %>
          <%= f.search_field :title_or_introduction_or_tags_tag_name_cont, class: "form-control form-control-sm mr-2", placeholder: '検索する' %>
          <%= f.submit "検索", class: "btn btn-warning btn-sm" %>
        <% end %>
      </li>
    <% else %>
      <li class="nav-link">
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li class="nav-link">
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    </ul>
    </nav>



    <%= yield %>
  </div>
</body>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

</html>
