<!DOCTYPE html>
<html>
  <head>
    <title>AnimalBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= search_form_for @search, url: posts_path do |f| %>
          <%= f.search_field :title_or_introduction_or_tags_tag_name_cont,  placeholder: '検索するテキストを入力...' %>
          <%= f.submit "検索" %>
        <% end %>
      </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "投稿", new_post_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
